
/**==========================================================================*/
/*Page (private and public chat) style */
/**==========================================================================*/

/**==========================================================================*/
/*Header style */
/**==========================================================================*/

.public header {
    background: rgba(4, 61, 67, 0.3);
    padding: 3px;
    position: fixed;
    height: 60px;
    top: 0;
    width: 100%;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 1px 6px rgba(0,0,0,0.5), 0 1px 4px rgba(0,0,0,0.5);
    border-radius: 0px;
    z-index: 1100;
    display: flex;
    min-height: 64px;
    padding-left: 24px;
    padding-right: 24px;
}

.public header input {
    border: 0;
    padding: 10px;
    width: 200px;
    height: 45px;
    margin: 5px 0 5px 10px;
    border-radius: 25px;
}


.public header h1 {
    padding: 10px;
}

/**==========================================================================*/
/*Footer style */
/**==========================================================================*/

.public footer {
    background: rgba(4, 61, 67, 0.3);
    padding: 3px;
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 1px 6px rgba(0,0,0,0.5), 0 1px 4px rgba(0,0,0,0.5);
    border-radius: 0px;
    z-index: 1100;
    display: flex;
    min-height: 64px;
    padding-left: 24px;
    padding-right: 24px;
}

.public footer textarea {
    border: 0;
    padding: 5px 15px;
    width: calc(100% - 100px);
    height: 45px;
    margin: 5px 0 5px 10px;
    border-radius: 25px;
    line-height: 1.6;
    color: #333;
    font-size: 12px;
}

.public footer div.smile-box {
    position: absolute;
    width: 300px;
    height: 230px;
    bottom: 60px;
    right: 30px;
    border-radius: 25px;
    padding: 5px 10px;
    border: 1px solid #999999;
    background: #ffffff;
}

.public footer div.smile-box i {
    display: inline-block;
    padding: 3px;
    margin: 3px;
}

.public footer div.smile-box i:hover,
.public footer div.smile-box i:focus {
    opacity: 0.7;
}

.info-alert {
    background: rgba(119, 255, 247, 0.3);
    margin: 0 10px;
    color: #2d5a80;
    border-radius: 35px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 700;
}

/**==========================================================================*/
/*Page style, window-block */
/**==========================================================================*/

.app main {
    height: calc(100vh - 130px);
    margin: 65px 0;
    padding: 20px 30px;
    overflow: auto;
}

.msg-title {
    border-bottom: 1px dotted #009ea0;
    position: relative;
}

.msg-title strong {
    font-size: 18px;
    font-family: 'Spirax', cursive;
    letter-spacing: 2px;
    margin: 5px 15px 5px 0;
    text-transform: capitalize;
}

.msg-title img {
    margin: -15px 10px;
    height: 40px;
    width: auto;
}

.msg-title a.button {
    line-height: 25px;
    width: 30px;
    height: 30px;
}

.msg-title span.date {
    position: absolute;
    top: 10px;
    right: 0;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 25px;
    min-width: 150px;
    width: auto;
    max-width: 70%;
    white-space: normal;
}

#messages li p {
    margin: 10px;
}

#messages li:nth-child(odd) {
    background: rgba(12, 13, 55, 0.71);
}

#messages li:nth-child(even) {
    background: rgba(0, 85, 101, 0.76);
}

.msg-body {
    position: relative;
}

.msg-body .fa.fa-quote-left {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
}

.msg-body .fa.fa-quote-right {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 16px;
}

.msg-body div {
    padding: 15px 20px;
}

.public {
    background: rgb(72, 113, 157) url("../img/chart-bg.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

button,
.button {
    background: #9be2ff;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-weight: 700;
    color: #3f3f3f;
    line-height: 43px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 1px solid #93d6f2;
}

.button.sm-button .fa {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 5px;
}

button .fa,
.button .fa {
    font-size: 25px;
    color: #009ea0;
    vertical-align: middle;
}

button:hover,
button:focus,
button:active,
.button:hover,
.button:focus,
.button:active {
    transform: scale(1.1);
    box-shadow: 0 0 8px 4px #ccc;
}

.button.sm-button .fa {
    font-size: 18px;
}


.button.disable {
    background: #d0cfd6;
    color: #afafaf;
}

.button.disable:hover,
.button.disable:focus,
.button.disable:active {
    transform: none;
    box-shadow: none;
}

.button.sm-button.disable .fa {
    font-size: 18px;
    color: #afafaf;
}

/**==========================================================================*/
/*Private chat in sidebar */
/**==========================================================================*/
.sidenav {
    height: calc(100vh - 130px);
    margin: 65px 0;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: rgba(143, 231, 255, 0.76); /* Black*/
    box-shadow: -4px -1px 6px rgba(0, 0, 0, 0.27), -3px 1px 4px rgba(0, 0, 0, 0.23);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .main-private {
    height: calc(100% - 85px);
    margin: 5px 0 80px 0;
    padding: 5px 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
}

.msg-title-private strong {
    font-family: 'Spirax', cursive;
    letter-spacing: 1px;
    text-transform: capitalize;
}

#messages-private li {
    padding: 5px 10px;
    color: #6e6e6e;
    border-radius: 25px;
    width: 75%;
    white-space: normal;
}

#messages-private li p {
    margin: 3px;
}

#messages-private li:nth-child(odd) {
    background: rgba(255, 255, 255, 0.7);
    margin-left: 15%;
    margin-right: 5%;
}

#messages-private li:nth-child(even) {
    background: rgba(119, 255, 247, 0.7);
    margin-left: 5%;
    margin-right: 15%;
}

.public .sidenav header {
    background: rgba(4, 61, 67, 0.3);
    padding: 3px;
    position: fixed;
    height: 60px;
    top: 65px;
    width: 100%;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0px 4px 3px rgba(0,0,0,0.3), 0 1px 4px rgba(0,0,0,0.12);
    border-radius: 0px;
    z-index: 1100;
    display: flex;
    min-height: 64px;
    padding-left: 5px;
    padding-right: 5px;
}

.public .sidenav footer {
    background: rgba(4, 61, 67, 0.3);
    padding: 3px;
    position: fixed;
    height: 80px;
    bottom: 65px;
    width: 100%;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 1px -4px 6px rgba(0, 0, 0, 0.45), -1px 0px 4px rgba(0, 0, 0, 0.48);
    border-radius: 0px;
    z-index: 1100;
    display: flex;
    min-height: 64px;
    padding-left: 10px;
    padding-right: 10px;
}

.open-private {
    position: absolute;
    top: 5px;
    right: 25px;
    width: 100px;
    border-radius: 65px;
}

.sidenav a:hover,
.sidenav a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    padding: 15px 10px;
    text-decoration: none;
    color: #296da0;
    display: block;
    transition: 0.3s;
}

.sidenav .mainselection select {
    border: 0;
    color: #2d5a80;
    background: transparent;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 10px;
    line-height: 27px;
    width: 260px;
    -webkit-appearance: none;
}

.sidenav .mainselection {
    overflow:hidden;
    width: 250px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #9bc0ff;
    background: rgb(173, 193, 255) url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 218px center;
    margin: 10px 0 10px 35px;
}

.public .sidenav footer textarea {
    border: 0;
    padding: 5px 15px;
    width: 170px;
    height: 65px;
    margin: 5px;
    border-radius: 25px;
    line-height: 1.6;
    color: #333;
    font-size: 12px;
}
