/**==========================================================================*/
/*Base style */
/**==========================================================================*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}

body {
    position: relative;
    font: 12px Arial, Helvetica;
    margin: 0;
    background: #ffffff;
}


#submit::-moz-focus-inner {
    border: none;
}

input {outline: none;}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #e7e7e7 !important; /* Цвет фона */
    -webkit-text-fill-color: #999 !important; /* цвет текста */
    color: #999 !important; /* цвет текста */
}

.app {
    width: auto;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.hide {
    display: none;
}
.show {
    display: block;
}
.invisible {
    visibility: hidden;
}

h1 {
    font-family: 'Spirax', cursive;
    font-size: 35px;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    padding: 25px 0 5px;
    text-align: center;
}

.fa-text-green {
    color: #04df29 !important;
}

.fa-text-red {
    color: #e96468 !important;
}