/**==========================================================================*/
/*Base style */
/**==========================================================================*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}

body {
    position: relative;
    font: 12px Arial, Helvetica;
    margin: 0;
    background: #ffffff;
}


#submit::-moz-focus-inner {
    border: none;
}

input {outline: none;}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #e7e7e7 !important; /* Цвет фона */
    -webkit-text-fill-color: #999 !important; /* цвет текста */
    color: #999 !important; /* цвет текста */
}

.app {
    width: auto;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/**==========================================================================*/
/*Header style */
/**==========================================================================*/

header {
    background: rgba(4, 61, 67, 0.7);
    padding: 3px;
    position: fixed;
    height: 60px;
    top: 0;
    width: 100%;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
    border-radius: 0px;
    z-index: 1100;
    display: flex;
    min-height: 64px;
    padding-left: 24px;
    padding-right: 24px;
}

header input {
    border: 0;
    padding: 10px;
    width: 200px;
    height: 45px;
    margin: 5px 0 5px 10px;
    border-radius: 25px;
}

/**==========================================================================*/
/*Footer style */
/**==========================================================================*/

footer {
    background: rgba(4, 61, 67, 0.7);
    padding: 3px;
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
    border-radius: 0px;
    z-index: 1100;
    display: flex;
    min-height: 64px;
    padding-left: 24px;
    padding-right: 24px;
}

footer input {
    border: 0;
    padding: 10px;
    width: calc(95% - 130px);
    height: 45px;
    margin: 5px 0 5px 10px;
    border-radius: 25px;
}

footer div.smile-box {
    position: absolute;
    width: 300px;
    height: 230px;
    bottom: 60px;
    right: 30px;
    border-radius: 25px;
    padding: 5px 10px;
    border: 1px solid #999999;
    background: #ffffff;
}

footer div.smile-box i {
    display: inline-block;
    padding: 3px;
    margin: 3px;
}

footer div.smile-box i:hover,
footer div.smile-box i:focus {
    opacity: 0.7;
}


/**==========================================================================*/
/*Page (private and public chat) style */
/**==========================================================================*/

.app main {
    height: calc(100vh - 120px);
    margin: 60px 0;
    padding: 20px 30px;
    overflow: auto;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 15px;
    color: #ffffff;
    border-radius: 25px;
    min-width: 150px;
    width: auto;
    max-width: 70%;
    white-space: normal;
}

#messages li:nth-child(odd) {
    background: rgba(12, 13, 55, 0.71);
}

#messages li:nth-child(even) {
    background: rgba(0, 85, 101, 0.76);
}

.public {
    background: rgb(72, 113, 157) url("../img/chart-bg.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

button,
.button {
    background: #9be2ff;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #000000;
    line-height: 43px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 1px solid #93d6f2;
}

button .fa,
.button .fa {
    font-size: 25px;
    color: #009ea0;
    vertical-align: middle;
}

button:hover,
button:focus,
button:active,
.button:hover,
.button:focus,
.button:active {
    transform: scale(1.1);
    box-shadow: 0 0 8px 4px #ccc;
}